@layer utilities{
    .animate-breathing{
        animation: breathing 1s infinite;
    }
    .animate-jumping{
        animation: jumping 1s infinite;
    }
    .animate-sliding-border-right{
        animation: sliding-border-right 1s ease-in-out;
    }
    .animate-sliding-border-left{
        animation: sliding-border-left 1s ease-in-out;
    }
}

@keyframes breathing{
    0%, 100%{
        transform: scale(1.05);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50%{
        transform: scale(1);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

@keyframes jumping{
    0%, 100%{
        transform: translateY(-5px);
        animation-timing-function: ease-in-out;
    }
    50%{
        transform: translateY(0);
        animation-timing-function: ease-in-out;
    }
}

@keyframes sliding-border-right {
    0%{
        opacity: 0;
        right: -5px;
    }
    50% , 100%{
        opacity: 1;
        right: 0;
    }
}
@keyframes sliding-border-left {
    0%{
        opacity: 0;
        left: -5px;
    }
    50% , 100%{
        opacity: 1;
        left: 0;
    }
}

